* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 70%;
    max-width: 1152px;
    margin: auto;
}
.flex{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
    padding-bottom: 15px;

}

:root{
    --tb-orange: #ff6900;
    --tb-red: #ff0000;
    --tb-green: #238a23;
    --tb-footer: #1a1a1a;
    --tb-bgcard: #eaeaea;
}

#app-header {
    background-color: #ff6900;
    padding: 2rem;
    margin-bottom: 30px;

}

.scelta{
    display: flex;
    flex-grow: 1;
}

.logo-boolean{
    flex-grow: 1;
}

.logo-boolean img{
    width: 130px;
}

.icons i{
    color: white;
}

img{
    width: 100%;
}


.row{
    display: flex;
    flex-wrap: wrap;
    
}

.col{
    width: calc(100% / 12 * 4);
    padding: 0.5rem;
}

.card{
    position: relative;
}

.bage{
    position: absolute;
    top: 80%;
    background-color: #ff0000;
    color: white;

}

.sustanability {
    position: absolute;
    top: 80%;
    margin-left: 40px;
    background-color: #238a23;
    color: white;
}

.bage-sostenibilità{
    position: absolute;
    top: 70%;
    background-color:#238a23;
    color: white;
}

.hearts{
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: #ffffff;
    left: 90%;
    top: 2%;
    text-align: center;
    padding: 12px 5px;
}


.card:hover .hearts {
    display: block;
    color: red;
}





.brands{
font-size: 15px;
}

.spacies{
    font-size: 20px;

}

.price{
    color: #ff0000;
}

.price-underline{
    text-decoration: line-through;
    color: black;
    margin-left: 10px;
}